[submodule "pear"]
	path = puppet/modules/pear
	url = git://github.com/treehouseagency/puppet-pear.git
[submodule "puppet/modules/selinux/spec/fixtures/modules/stdlib"]
	path = puppet/modules/selinux/spec/fixtures/modules/stdlib
	url = git://github.com/puppetlabs/puppetlabs-stdlib
[submodule "puppet/modules/pear"]
	path = puppet/modules/pear
	url = git://github.com/treehouseagency/puppet-pear.git
