[submodule "puppet/modules/pear"]
  path = puppet/modules/pear
  url = http://github.com/reubidium/puppet-pear
[submodule "puppet/modules/selinux/spec/fixtures/modules/stdlib"]
  path = puppet/modules/selinux/spec/fixtures/modules/stdlib
  url = git://github.com/puppetlabs/puppetlabs-stdlib

